[submodule "bash/bash_profile"]
	path = bash/bash_profile
	url = git@gist.github.com:5176d35739a0f4e7acfd.git
[submodule "bash/bashrc"]
	path = bash/bashrc
	url = git@gist.github.com:f3b61fcd1fa946df6dac.git
[submodule "bash/bash_functions"]
	path = bash/bash_functions
	url = git@gist.github.com:894d8c2d1d4813c36b7d36e9a97aedd6.git
[submodule "atom/snippets"]
	path = atom/snippets
	url = git@gist.github.com:36d826e0d20444749191.git
[submodule "shiny/shiny_references"]
	path = shiny/shiny_references
	url = git@gist.github.com:c4f82f3db918779fae7a4a136b02ace4.git
[submodule "crontab"]
	path = crontab
	url = git@gist.github.com:9a48a3b9ef32d93d15f45c3f007550b4.git
[submodule "qsub/template"]
	path = qsub/template
	url = git@gist.github.com:1dc5d0926aefa7787ebf48a0bad5316b.git
[submodule "qsub/cellranger"]
	path = qsub/cellranger
	url = git@gist.github.com:f6c57474bb077d2acd293092cf7fa449.git
[submodule "bash/bashTricks"]
	path = bash/bashTricks
	url = git@gist.github.com:4476778f9086c77ccac5.git
[submodule "macOS"]
	path = macOS
	url = git@gist.github.com:8fc4f729b31f1307f7d9d7712d4eed15.git
